.content{
	margin:2%;
}

#contactTitle{
	margin:-2%;
}

#boutonTel{
	margin: 50% 0 0 -60%;
}

#detailLivaison{
	margin: 2%;
}

#boutonsLivraison{
	position:absolute;
	bottom: 5%;
}

#boutonsLivraison i{
	margin-left: 40%;
}

#boutonsLivraison .fa-check:hover,
#boutonsLivraison .fa-check.active
{
	color: #46AF49;
}

#boutonsLivraison .fa-exclamation-triangle:hover,
#boutonsLivraison .fa-exclamation-triangle.active{
	color: #BB2213;
}

#boutonTel:hover,
#boutonTel.active{
	color: #0E74AF;
}

#validerProbleme:hover{
	color: #46AF49;
}

#infoPanel{
	height: 540px;
}

#signature{
	background-color: white;
	height: 200px;
	border: solid;
	margin-top: 20px;
}

.boutonModal{
	margin-left: 15px;
}

.fa-active.active{
	border: #707070 !important;
}

#boutonsLivraison i{
	cursor: pointer;
}

a:focus{
	outline:none;
}